<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>img</key>
		<string>coretext_01</string>
		<key>width</key>
		<string>300</string>
		<key>height</key>
		<string>130</string>
	</dict>
	<dict>
		<key>type</key>
		<string>txt</string>
		<key>color</key>
		<string>blue</string>
		<key>content</key>
		<string>实现coretext的一个排版引擎</string>
		<key>size</key>
		<string>16</string>
	</dict>
	<dict>
		<key>type</key>
		<string>txt</string>
		<key>color</key>
		<string>red</string>
		<key>content</key>
		<string>内容，颜色，字体</string>
		<key>size</key>
		<string>22</string>
	</dict>
	<dict>
		<key>type</key>
		<string>txt</string>
		<key>color</key>
		<string>black</string>
		<key>content</key>
		<string>大小等信息</string>
		<key>size</key>
		<string>14</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>img</key>
		<string>coretext_02</string>
		<key>width</key>
		<string>48</string>
		<key>height</key>
		<string>48</string>
	</dict>
	<dict>
		<key>type</key>
		<string>txt</string>
		<key>color</key>
		<string>default</string>
		<key>content</key>
		<string>这是一个简单的排版，因为它只支持本文，不支持图片，后面会做一个支持图片的牛逼排版</string>
		<key>size</key>
		<string>22</string>
	</dict>
	<dict>
		<key>type</key>
		<string>txt</string>
		<key>color</key>
		<string>red</string>
		<key>content</key>
		<string>后面是一个参考链接</string>
		<key>size</key>
		<string>16</string>
	</dict>
	<dict>
		<key>type</key>
		<string>link</string>
		<key>color</key>
		<string>blue</string>
		<key>url</key>
		<string>http://blog.devtang.com</string>
		<key>content</key>
		<string>链接文字...链接文字</string>
	</dict>
</array>
</plist>
